.bgImage {
  background-image: url(./assets/homepage.png);
  background-position: 50% 0%;
  background-size: cover;
  height: 100vh;
}



 .form .input {
  box-shadow: #cff0ff 0px 10px 10px -5px;
 } 
